## Dependencies

In [3]:
import joblib
import pandas as pd

## Load Files

In [4]:
# Models
RFC_model = joblib.load('../Models/BestModel_RandomForest.sav')
LR_model = joblib.load('../Models/OtherModel_LogisticRegression.sav')

# Evaluation 
RFC_eval = pd.read_csv('../Resources/LogisticRegression_eval.csv')
LR_eval = pd.read_csv('../Resources/RandomForestClassifier_eval.csv')

In [5]:
RFC_eval

              Unnamed: 0 Accuracy
0             Base Model  86.213%
1  Select Features Model  86.213%
2            Tuned Model  89.474%

In [6]:
LR_eval

              Unnamed: 0 Accuracy
0             Base Model   90.16%
1  Select Features Model  90.103%
2            Tuned Model  90.103%

In [7]:
merged_df = RFC_eval.merge(LR_eval, on='Unnamed: 0')

merged_df = merged_df.rename(columns={
    'Unnamed: 0': '',
    'Accuracy_x': 'LR Accuracy',
    'Accuracy_y': 'RFC Accuracy'
})

merged_df = merged_df.set_index('')

In [8]:
merged_df

                      LR Accuracy RFC Accuracy

Base Model                86.213%       90.16%
Select Features Model     86.213%      90.103%
Tuned Model               89.474%      90.103%